a.contact-button {
  background: transparent none left top no-repeat;
}
.contact-button .fa.fa-envelope {
  vertical-align: baseline;
  margin-right: 3px;
}
.contact-dialog {
  overflow: hidden;
}
.contact-dialog h2 {
  margin-top: 0;
}
.contact-dialog textarea[name="message"]{
  height: 380px;
  resize: none;
  overflow-y: scroll;
  font-size: 100%;
}
.contact-dialog .buttons {
  clear: both;
  text-align: right;
}
.contact-dialog .button {
  width: 6em;
  clear: both;
  text-align: center;
}