#template('colorThemeInit.vm')

.do-not-remove-or-first-css-rule-is-not-used {
}

table#matchesTable {
  margin: 0!important;
  width: 100%;
}

.matches-table .collapsed {
  visibility: hidden;
  height: 1px;
  overflow: hidden;
}

.matches-table .succeed, .success {
  background-color: #fff9ee;
}

.matches-table .notified {
  background-color: #fef2da;
}

.matches-table .failed, .failure  {
  background-color: #ffcece !important;
}

.matches-table .ok {
  color: inherit;
}

.matches-table .collapse-gp-div {
  margin-top: 5px;
}

.matches-table .patient-href {
  margin-left: 3px;
}

.matches-table .subtitle {
  margin-bottom: 0px;
  margin-top: 0px;
  font-style: normal;
  text-transform: uppercase;
  color: #369;
  font-size: .8em;
  font-weight: 700;
}
#hierarchy {
  padding-top: 0;
}
.matches-table ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 1em;
  list-style: none;
}

.matches-table .collapse-gp-div div {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.matches-table th {
  white-space: nowrap;
  border: 1px solid #ffffff;
  font-weight: normal;
}

.matches-table td {
  vertical-align: top;
}

.matches-table .collapse-gp-tool {
  white-space: nowrap;
  color: #404040;
}

#send-notifications-messages, #show-matches-messages {
  display: inline-block;
  margin-left: 1em;
  color: green;
}

#show-matches-messages {
  margin-top: 0.8em;
}

#send-notifications-messages {
  vertical-align: top;
}

#score-filter-validation-message {
  font-size: 83%;
  float: left;
}

#show-matches-messages .invalid, #score-filter-validation-message .invalid {
  color: #CC3333;
}

#find-matches-score {
  width: 4.5em;
  float: right;
}

#notified-matches {
  margin-left: 20px;
}

.expandall {
}

#show-matches-button {
  margin: 10px 40px 0 0;
}

#pagination-info {
  display: inline-block;
}
#pagination-matching-notifications {
  margin-top: 10px;
}
.matches-table .first-header-row, .matches-table .second-header-row {
  text-align: -webkit-center;
}

.matches-table th .collapse-marker {
  float: right;
  color: #EA972D;
  cursor: pointer;
  margin-left: 3px;
}

.messages-hint {
  color: #CC3333;
  margin-top: 5px;
  font-size: .8em;
}

.messages-hint-input {
  background-color: #fff9ee!important;
  border: 1px solid #c33!important;
  color: #404040!important;
}

input.notify , td span.fa.fa-envelope {
  vertical-align: middle;
}

.pagesizeselect {
  margin-left: 3px;
  padding: 0;
}

#global-search {
  float: right;
}

#show-matches-score, #show-matches-gen-score, #show-matches-phen-score {
  float: right;
  width: 6.5em!important;
  margin-top: 1.5em;
  line-height: 1.2em;
}
.xwiki-livetable-pagination {
  color: #636B75;
  font-size: 90%;
  line-height: 22px;
  border: 0px;
}
.xwiki-livetable-loader {
  padding-top: 3px;
}
.separator {
  height: 20px;
  background-color: white;
}
.xHelpButton {
  margin-left: 10px;
}
.xTooltip {
  width: 30em;
  max-width: 30em;
}
.xHelpButton {
  margin-left: 5px;
}

span.avoidwrap {
  display:inline-block;
}

a.button.toggle-filters.secondary-filters {
  margin-top: 2em !important;
  cursor: default !important;
}
.score-label {
  float: left;
  margin-top: 1em;
}
.score-label .xHelpButton {
  margin-left: 0;
}
input.mme {
  margin-left: 15px!important;
}
#checkbox-server-filters {
  margin-top: 5px;
}
.across-mme {
  margin-top: 5px;
  margin-left: 1em;
}
.exome-subtitle {
  font-weight: 400;
  text-transform: none;
  font-style: italic;
  display : block;
}
.fa.fa-leanpub {
  padding-right: 4px;
}
.metadata {
  display: block;
  font-size: .8em;
  font-style: italic;
}
.filter-mme-server-name {
  display: inline-block;
  max-width: 180px; /* based on the width of filters column, defined to be 240px in DBWebHomeSheet */
  vertical-align: top;
}
.matches-table .fa.fa-sort, .matches-table .fa.fa-sort-up, .matches-table .fa.fa-sort-down {
  padding-left: 10px;
  float : right;
  cursor: pointer;
}
.matches-table .fa.fa-sort {
  color: #999;
  padding-left: 3px;
  float: none;
}
.matches-table .fa.fa-sort:hover {
  color: #000;
}
.sortable {
  cursor: pointer;
}
ul.filters label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.xTooltip.comment-container textarea {
  margin-bottom: 5px;
  margin-top: 10px;
}
a.button.comment, a.button.notes {
  background-image: none;
  background-color: #eee;
  color: #000;
  text-shadow: none;
  border: 1px solid #ddd;
}
.buttonwrapper a.button.comment:link {
  margin-left: 5px;
}
td.status-column {
  white-space: nowrap;
  padding-right: 0px;
}
select.status {
  padding: .3em 1px .3em 1px;
  margin-right: 2px;
}
th[data-column="score"], th[data-column="genotypicScore"], th[data-column="phenotypicScore"] {
  font-size: 90%;
}
.notification-dialog-message {
  margin-top: 0.5em;
}
.solved {
  background-color: whitesmoke;
}
div[name="notification-email-long"] {
  font-size: 95%;
  margin: 0 2px 0 2px;
}
.slider {
  background: #bfbfbf;
  border-radius: 4px;
  height: 2px;
}
.slider .handle {
  width: 21px;
  height: 13px;
  background-color: white;
  cursor: pointer;
  position: relative;
  border: 1px solid #aaa;
  border-radius: 2px;
  margin-top: -9px;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #dad8d8 100%);
  font-size: 70%;
  text-align: center;
  margin-left: 2px;
  font-family: Tahoma, Geneva, sans-serif;
}
.progress {
  background-color: #EA972D;
  height: 2px;
}
.dash {
  width: 1px;
  height: 6px;
  position: absolute;
  background: #bfbfbf;
  user-select: none;
  margin-top: 1px;
}
.dash.small-dash {
  height: 4px;
}
.grid {
  font-family: "Trebuchet MS",Arial,sans-serif;
  opacity: 0.6;
  position: absolute;
  width: 5.2em;
  line-height: 1em!important;
  margin-left: 0.7em;
}
.point {
  font-size: 60%;
  margin-top: 0.7em;
  position: absolute;
}
.point.right {
  float: right;
  position: initial;
}
.hider {
  width: 0.9em;
  background-color: #f6f8f9;
  height: 2px;
  margin-top: -2px;
}
.hider.right {
  float: right;
  width: 0.6em;
}
.hider.disabled-range {
  width: 0;
  background-color: #bfbfbf;
  margin-left: 0.9em;
}
label.score {
  box-sizing: border-box;
  display: inline-block;
  font-size: .8em;
  width: 30%;
  padding-top: 0.1em;
  padding-right: 0.2em;
}
.notification-history-table, .comments-table {
  width: 100%;
}
.notification-history-table th {
  border: 0;
  border-bottom: 1px solid #D7DEE3;
  font-size: .8em;
  padding: 3px 4px;
  text-transform: uppercase;
  background-color: #F6F8F9;
}
.comments-table .comment-info {
  border: 0;
  border-bottom: 1px solid #D7DEE3;
  font-size: .9em;
  padding: 3px 4px;
  background-color: #F6F8F9;
}
.notification-history-table td, .comments-table td {
  border: 0;
  border-bottom: 1px solid #D7DEE3;
  color: #636B75;
  font-size: .95em;
  padding: 3px 4px;
}
.code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
  display: block;
  margin: 0.2em 0;
}
.nhdialog-title {
  font-size: 85%;
  font-weight: bold;
  color: #7d7b7b;
}
.notification-history-table .date {
  font-size: .85em;
  margin-bottom: 0.5em;
}
.comments-table .date {
  font-size: .9em;
  float: right;
}
.xTooltip.notification-history-container {
  margin-left: -33em;
}
.notification-history {
  margin-left: 2px;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  color: black;
}
.notification-history:hover {
  box-shadow: 0px 2px 2px #D7DEE3;
}
.notification-history.secondary {
  color: gray;
}
.mark-user-contacted-button-container {
  margin-top: 1em;
}
.xHint {
  color: #369;
  font-size: 87%;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  white-space: -webkit-pre-wrap;
  word-break: break-all;
  white-space: normal;
}
.notes-container h4 {
  margin: 0;
}
.comment-text {
  padding: 5px!important;
}
.phenotypes-div ul li {
  margin: 2px 2px 2px 0;
  padding: 0.5em;
  line-height: 1.2em !important;
}
.matched {
  background-color: #EEE;
  border-radius: 4px 4px;
  display: inline-block;
}