#template('colorThemeInit.vm')

.do-not-remove-or-first-css-rule-is-not-used {
}

table#matchesTable {
  margin: 0!important;
  width: 100%;
}

.matches-table .collapsed {
  visibility: hidden;
  height: 1px;
  overflow: hidden;
}

.matches-table .succeed, .success {
  color: green;
}

.matches-table .failed, .failure  {
  color: red;
}

.matches-table .ok {
  color: inherit;
}

.matches-table .collapse-gp-div {
  margin-top: 5px;
}

.matches-table .patient-href {
  margin-left: 3px;
}

.matches-table .genes-div, .matches-table .age-of-onset-div  {
  background: #fff9ee;
}

.matches-table .subtitle {
  margin-bottom: 0px;
  margin-top: 0px;
  font-style: normal;
  text-transform: uppercase;
  color: #369;
  font-size: .8em;
  font-weight: 700;
}
#hierarchy {
  padding-top: 0;
}
.matches-table ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 1em;
  list-style: none;
}

.matches-table .collapse-gp-div div {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.matches-table th {
  white-space: nowrap;
  border: 1px solid #ffffff;
  font-weight: normal;
}

.matches-table td {
  vertical-align: top;
}

.matches-table .collapse-gp-tool {
  white-space: nowrap;
}

#send-notifications-messages, #show-matches-messages {
  display: inline-block;
  margin-left: 1em;
  color: green;
}

#show-matches-messages {
  margin-top: 0.8em;
}

#send-notifications-messages {
  vertical-align: top;
}

#score-validation-message {
  font-size: 83%;
  float: left;
}

#show-matches-messages .invalid, #score-validation-message .invalid {
  color: #CC3333;
}

#find-matches-score {
  width: 4.5em;
  float: right;
}

#notified-matches {
  margin-left: 20px;
}

.expandall {
}

#show-matches-button {
  margin: 10px 40px 0 0;
}

#pagination-info {
  display: inline-block;
}
#pagination-matching-notifications {
  margin-top: 10px;
}
.matches-table .first-header-row {
  text-align: -webkit-center;
}

.matches-table th .collapse-marker {
  float: right;
  color: #EA972D;
  cursor: pointer;
  margin-left: 3px;
}

.messages-hint {
  color: #CC3333;
  margin-top: 5px;
  font-size: .8em;
}

.messages-hint-input {
  background-color: #fff9ee!important;
  border: 1px solid #c33!important;
  color: #404040!important;
}

input.notify , td span.fa.fa-envelope {
  vertical-align: middle;
}

.pagesizeselect {
  margin-left: 3px;
  padding: 0;
}

#global-search {
  float: right;
}

#show-matches-score, #show-matches-gen-score, #show-matches-phen-score {
  float: right;
  width: 5em!important;
  margin-top: 3px;
  line-height: 1.2em;
}

input[name="score"] {
  width: 4em!important;
}
input[name="genotypicScore"] {
  width: 5.3em!important;
}
input[name="phenotypicScore"] {
  width: 5.8em!important;
}
.xwiki-livetable-pagination {
  color: #636B75;
  font-size: 90%;
  line-height: 22px;
  border: 0px;
}
.xwiki-livetable-loader {
  padding-top: 3px;
}
.separator {
  height: 20px;
  background-color: white;
}
.xHelpButton {
  margin-left: 10px;
}
.xTooltip {
  width: 30em;
  max-width: 30em;
}
.xHelpButton {
  margin-left: 5px;
}

span.avoidwrap {
  display:inline-block;
}

a.button.toggle-filters.secondary-filters {
  margin-top: 2em !important;
  cursor: default !important;
}
.score-label {
  float: left;
  margin-top: 8px;
}
.score-label .xHelpButton {
  margin-left: 0;
}
input.mme {
  margin-left: 15px!important;
}
#checkbox-server-filters {
  margin-top: 5px;
}
.across-mme {
  margin-top: 5px;
  margin-left: 1em;
}
.exome-subtitle {
  font-weight: 400;
  text-transform: none;
  font-style: italic;
}
.owner-info .metadata {
  display: block;
  opacity: .4;
  padding-left: 1.6em;
  font-size: .8em;
  font-style: italic;
}
.filter-mme-server-name {
  display: inline-block;
  max-width: 180px; /* based on the width of filters column, defined to be 240px in DBWebHomeSheet */
  vertical-align: top;
}
